
<% unless user_signed_in? %>
  <br>
  <div class="jumbotron">
    <h1 class= "title text-center">Blocitoff</h1>
    <p class= "text-center">Blocitoff is a site built to keep to-do lists manageable</p>
    <p class= "text-center">
      <%= link_to "Sign In", new_session_path %> or
      <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
    </p> 
  </div>
<%else%>
  <br>
  <div class="jumbotron">
    <h1 class= "text-center">Blocitoff</h1>
    <p class= "text-center">Welcome back to Blocitoff!</p>
    <p class= "text-center">Blocitoff is a site built to keep to-do lists manageable</p> 
  </div>
<%end%>
<div class="row">
  <div class="col-md-4">
    <h2>The Purpose</h2>
    <p>To-do lists are notorious for collecting junk: to-do items that you want to remember, but are not very important and thus get consistently put off.</p>
  </div>
  <div class="col-md-4">
    <h2>The Goal</h2>
    <p> To address the problem of to-do list clutter.</p>
  </div>
  <div class="col-md-4">
    <h2>The Solution</h2>
    <p>Blocitoff will aim to keep to-do lists manageable by automatically deleting to-do items that have not been completed after seven days. The hypothesis is that if the to-do item is not important enough to be completed in seven days, it doesn't belong on your to-do list.</p>
  </div>
</div>