<%= form_for [current_user, @item] do |f| %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <%= f.label :body, class: 'sr-only' %>
        <%= f.text_field :body, class: 'form-control', placeholder: "Enter a new item" %>
        <span class="input-group-btn">
          <%= f.submit "Submit item", class: 'btn btn-success pull-right text-warning' %>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>
